<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToyStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcToyStore.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <nav class="navbar navbar-expand-xl navbar-light">
                        <div class="container-fluid">
                            <a href="/HelloWorld" class="navbar-brand">Toy Store</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/Toys" style="color: Black;">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/HelloWorld/Welcome" style="color: Black;">about</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" style="color: Black;">Wine</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: Black;">
                                            Liquor
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="#" style="color: Black;">Cider</a></li>
                                            <li><a class="dropdown-item" href="#" style="color: Black;">Mead</a></li>
                                            <li><a class="dropdown-item" href="#" style="color: Black;">Others</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="col-lg-4 col-md-3">
                    <div class="header-search mt-2">
                        <div class="search-form">
                            <form method="get">
                                <div class="input-group">
                                    <div class="select-style">
                                        <select name="order">
                                            <option class="topshow" value="1">All</option>
                                            <option value="a">Beer</option>
                                            <option value="b">Wine</option>
                                            <option value="c">Liquor</option>
                                            <option value="d">Cider</option>
                                            <option value="e">Mead</option>
                                            <option value="f">Others</option>
                                        </select>
                                    </div>
                                    <input type="text" name="search" id="search" class="form-control"
                                        placeholder="Search Here" />
                                    <div class="input-group-addon">
                                        <button type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 cart-login">
                    <div class="float-end cart mt-2">
                        <a href="#">
                            <span class="number">10</span>
                            <img class="img-fluid" src="/images/cart.png" alt="cart" />
                            <span>Cart</span>
                        </a>
                    </div>

                    <div class="float-end">
                        <button type="button" class="btn btn-light mt-2 btn-sm">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ToyStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
