/* _content/MvcToyStore/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-n1txeekkb4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-n1txeekkb4] {
  color: #0077cc;
}

.btn-primary[b-n1txeekkb4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-n1txeekkb4],
.nav-pills .show > .nav-link[b-n1txeekkb4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-n1txeekkb4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-n1txeekkb4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-n1txeekkb4] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-n1txeekkb4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-n1txeekkb4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.list-product[b-n1txeekkb4] {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
header[b-n1txeekkb4] {
  background-color: #2196f3;
  padding: 10px 15px;
}
header nav .navbar-nav .nav-link[b-n1txeekkb4] {
  color: #000000 !important;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 18px !important;
}
header .navbar-brand[b-n1txeekkb4] {
  max-width: 200px;
}

/* Header Search Bar */
.header-search input[type="text"][b-n1txeekkb4] {
  border: none;
}
.header-search .input-group-addon button[b-n1txeekkb4] {
  color: #fff;
  background: #ef2d2c;
  padding: 10px 15px;
  border: none;
  font-size: 12px;
}
.select-style[b-n1txeekkb4] {
  width: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.select-style select[b-n1txeekkb4] {
  width: 100%;
  background: #efefef;
  color: #000;
  height: 38px;
  padding: 0px 9px;
  border: none;
  outline: none;
}
.select-style select option.topshow[b-n1txeekkb4] {
  padding: 10px 0;
  position: relative;
  top: 15px;
}
/* End Header Search Bar */

/* Header cart CSS */
header .cart a[b-n1txeekkb4] {
  color: #fff;
  text-decoration: none;
}
header .cart[b-n1txeekkb4] {
  position: relative;
  left: -15px;
}
header .cart a span.number[b-n1txeekkb4] {
  position: relative;
  left: 38px;
  top: -4px;
  color: #ef2d2c;
}
header .cart a span.number[b-n1txeekkb4] {
  position: relative;
  left: 38px;
  top: -4px;
  color: #ffffff;
}
header .cart a[b-n1txeekkb4] {
  color: #fff;
  text-decoration: none;
}
/* End Header cart CSS */

/* choose store checkbox CSS */
header [type="radio"]:checked + label[b-n1txeekkb4],
header [type="radio"]:not(:checked) + label[b-n1txeekkb4] {
  position: relative;
  padding-left: 5px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  font-family: "Conv_VisueltPro-Regular";
  font-size: 14px;
}

/* Responsive CSS */
@media (max-width: 991px) {
  header .cart a img[b-n1txeekkb4] {
    width: 30px;
    margin-left: 10px;
  }
  header .cart a span.number[b-n1txeekkb4] {
    left: 40px;
    top: -7px;
    font-size: 14px;
  }
  header[b-n1txeekkb4] {
    padding: 10px 0px;
  }
  .cart-login[b-n1txeekkb4] {
    position: absolute;
    right: 70px;
  }
  header .navbar-brand[b-n1txeekkb4] {
    max-width: 150px;
  }
}
